@use "./variables" as *;
@use "./mixins" as *;
.todo-grid {
  margin-top: $defaultMargin;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(auto, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.todo-card {
  & {
    height: 200px;
  }
  &,
  &-edit {
    width: min(300px, 60dvw);
    border: 1px solid $mainColor;
    border-radius: 10px;
    @include flex(center, center);
  }
  &-edit {
    height: 300px;

    flex-direction: column;
    padding: 20px;
    .line {
      display: flex;
      justify-content: space-between;
      width: 75%;
    }
  }
  flex-direction: row-reverse;
  transition: ease-in-out 0.1s;
  &:hover {
    background-color: $mainColor;
  }
}
