@use "./variables" as *;
@use "./mixins" as *;
.todo-grid {
  margin-top: $defaultMargin;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(auto, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.todo-card {
    &,&-edit{
        width: min(300px, 60dvw);
        height: 200px;
        border: 1px solid $mainColor;
        border-radius: 10px;
        @include flex(center,center);
    }
    &-edit{
        flex-direction: column;
    }
    flex-direction: row-reverse;
  transition: ease-in-out 0.1s;
  &:hover {
    background-color: $mainColor;
  }
  
}
.description {
}
